<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles2.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>

        <div class="logo">

            <a href="/">
                <img src="/images/logo-mercado-liebre.svg" class="logo-img">
                </a>
        
        <form action="" class="buscador" >
            <input type="text" placeholder="Buscar productos, marcas"> 
            <button> <i class="fa-solid fa-magnifying-glass icons-header"></i> </button>
         </form>

         
         <p class="copy"><i class="fa-solid fa-hand-holding-dollar icons-header"></i>&nbspCompra en cuotas y sin
            tarjeta de crédito</p>
         </div>


        <nav class="navbar">
            <ul class="left-navbar">
            <li><a href="ofertas.html" style="pointer-events: none">Ofertas</a></li>
            <li><a href="tiendas_oficiales.html" style="pointer-events: none">Tiendas Oficiales</a></li>
            <li><a href="vender.html" style="pointer-events: none">Vender</a></li>
            <li><a href="ayuda.html" style="pointer-events: none">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
            <br>
            <li><a href="register.html">Creá tu cuenta&nbsp;</a><i class="fa-sharp fa-solid fa-address-card icons-header"></i></li>
            <li><a href="login.html">Ingresá&nbsp;</a><i class="fa-sharp fa-solid fa-right-to-bracket icons-header"></i></li>
            <li><a href="compras.html" style="pointer-events: none">Mis compras&nbsp;</a><i class="fa-sharp fa-solid fa-cart-shopping icons-header"></i></li>
            </ul>
        </nav>
        <div class="contenedor-menu">
        <span aling=center class="burger-menu">
            <i class="fas fa-bars icono-burger"></i>
        </span>
        </div>
    </header>
    

    <div class="signup-box">

        <div class="contenedor-2">
        <h2>Regístrate</h2>

        <form action="/" method="get">

            <div class="group">
            <label for="nombre">Nombre y apellido</label>
            <input type="text" name="nombre" id="nombre" required/>
            </div>
            <div class="group">
            <label for="usuario">Usuario</label>
            <input type="usuario" name="usuario" id="usuario" min="2" required/>
            </div>

            <div class="group">
            <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" id="domicilio" required/>
            </div>


            <div class="contenedor-grande">
            <div>Perfil de usuario</div>
            <input type="radio" id="comprar" name="publicacion" class="radio" value="comprar">
            <label for="comprar">Comprar</label><br>

            <input type="radio" id="vender" name="publicacion" class="radio" value="vender">
            <label for="vender">Vender</label><br>
            </div>

            <div class="contenedor-grande">
            <div>Categorías</div>

            <input type="checkbox" name="categoria" value="electro" class="checkbox" />
            <label for="categoria" id="categoria">Electro</label>
            
            <input type="checkbox" name="categoria" value="moda" class="checkbox"/>
            <label for="categoria" id="categoria">Moda</label>
            
            <input type="checkbox" name="categoria" value="hogar" class="checkbox"/>
            <label for="categoria" id="categoria">Hogar</label>

            <input type="checkbox" name="categoria" value="jugueteria" class="checkbox" />
            <label for="categoria" id="categoria">Jugueteria</label>
            
            <input type="checkbox" name="categoria" value="vida-sana" class="checkbox"/>
            <label for="categoria" id="categoria">Vida sana</label>
           
            </div>

        
            <div class="contenedor-grande">
            <label for="avatar">Foto de perfil</label>
            <input type="file" />
            </div>

            <div class="group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" required minlength="8"/>
            </div>

            <div class="group">
            <label for="password">Repetir contraseña</label>
            <input type="password" name="password" id="password" required minlength="8" />
            </div>

            <div class="group">
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>

                <div class="contenedor-botones">
                <button type="reset" class="botones-login">Limpiar</button>
                <button type="submit" class="botones-login">Enviar</button>
                </div>
            </a>
        
        </form>
        </div>
    </div>
  
    <footer>

        <div class="footer-main">
            <section class="sec_footer">
                <i class="fa-sharp fa-solid fa-credit-card fa-2x icons-footer"></i>
    
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
    
            <section class="sec_footer">
                <i class="fa-sharp fa-solid fa-gift fa-2x icons-footer"></i>
    
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
    
            <section class="sec_footer">
                <i class="fa-sharp fa-solid fa-user-shield icons-footer fa-2x"></i>
    
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
    
            <div class="sec_footer">
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </div>
    
    
        </footer>
</body>
</html>

    